body{
	background-color: black;
}
h1{
	color: white;
}

.col-md-6{
	background-color: yellow;
}

.container {
	background-color: yellow;
    background:  url();
    background-size: cover;
    background-repeat: no-repeat;
}