.navbar .navbar-nav{
	
	background: #f8f8f8;
	display: inline-block;
	float: none;
	vertical-align: top;	
}

.navbar .navbar-collapse{
	text-align: center;
}

.btn-primary{
	background: black;
	color: white;
	border: 0 none;
	box-shadow: 2px 2px grey;
}